{% extends 'base.html' %}
{% block content %}

  <h2>Movie-Info</h2>

  <ul>
  	<p>Information about the movie:</p>
  	Title: {{ movie.title }}<br>
  	Release Date: {{ released_at }}<br>
    IMDB URL: <a href={{ movie.imdb_url }}> {{ movie.imdb_url }}</a><br>
    Your score for this movie was {{ score.score }}<br>
    Update your score if you want: 
    <form action="{{ movie.movie_id }}" method="POST">
      <input type="text" name="movie_score" value="Score 1-5">
      <input type="submit" id="movie_score_submit">
    </form><br>
    {% for i in movie.ratings %}
      <li>
          User: {{ i.user.user_id }} : Score: {{ i.score }}
      </li>
    {% endfor %}
  </ul>

{% endblock %}